[*.cs]

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false:suggestion

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1307: Specify StringComparison
# Not available with .NET Framework
dotnet_diagnostic.CA1307.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# IDE0001: Simplify Names
dotnet_diagnostic.IDE0001.severity = none

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = none

# S1066: Collapsible "if" statements should be merged
dotnet_diagnostic.S1066.severity = none

# IDE0016: Use 'throw' expression
dotnet_diagnostic.IDE0016.severity = none

# IDE0031: Use null propagation
dotnet_diagnostic.IDE0031.severity = none

# *******************************************************************************************
# SonarAnalyzer Rules
# S3897: Classes that provide "Equals(<T>)" should implement "IEquatable<T>"
dotnet_diagnostic.S3897.severity = silent

# S4035: Classes implementing "IEquatable<T>" should be sealed
dotnet_diagnostic.S4035.severity = silent

# S3458: Empty "case" clauses that fall through to the "default" should be omitted
dotnet_diagnostic.S3458.severity = none

# S1939: Inheritance list should not be redundant
dotnet_diagnostic.S1939.severity = none

# S1172: Unused method parameters should be removed
# Rule is not working properly
dotnet_diagnostic.S1172.severity = none
# ********************************************************************************************
